<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create New Record</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
            <label for="name">Name</label>
            <div class="input-group">
              <input id="name" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="country">Country</label>
            <div class="input-group">
              <select class="form-control">
                <option>India</option>
                <option>USA</option>
                <option>Srilanka</option>
                <option>Germany</option>
              </select>
            </div>
        </div>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
        <div *ngIf="alertrequired">
            <ngb-alert type="success">This is an success alert</ngb-alert>
        </div>
        <div *ngIf="progressBarRequired">
            <p><ngb-progressbar type="success" [value]="progressbar" [striped]="true"></ngb-progressbar></p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="SaveData()">Save</button>
    </div>
  </ng-template>
  
  <button ngbTooltip="Create New Record" class="btn btn-primary" (click)="open(content)">Add New</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>